<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/x-icon" href="images/newbutterfly20.png">
    <title>Animo - Coping Mechanisms</title>
</head>

<body>
    <header>
        <a class="header-links" href="calendar.html"><img class="animo" src="images/newbutterfly16.png" alt="buttefly logo"></a>
        <nav>
            <ul class="nav-ul">
                <li class="header-li"><a class="header-links" href="/events">Home</a></li>
                <li class="header-li"><a class="header-links" href="/resources">Resources</a></li>
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">Feed</a></li> -->
                <li class="header-li"><a class="header-links" href="/coping">Coping Mechanism</a></li>
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">Contact</a></li> -->
                <li class="header-li"><a class="header-links" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>



<section class="body-relax">
    <h1>The 4-7-8 Method</h1>
    <div class="start myStart" style='display: flex;'>
        <h2>Click to start!</h2>
    </div>
    <div class="container-relax">
        <div class="circle"></div>
            <p id="text"></p>
            <div class="pointer-container">
            <div class="pointer"></div>
        </div>
        <div class="gradient-circle"></div>
    </div>

    <section class="relax-section"><p></p></section>
</section>

<footer class="footer">
    <!-- <a class="footer-links" href="calendar.html">Home</a> -->
    <!-- <a class="footer-links" href="/events"><img class="animo" src="images/animo-butterfly1.png"></a> -->
    <h2 id="title-footer">Contact</h2>
    <a class="social-links" href="https://www.twitter.com/codingmypath"><i class="fa-brands fa-twitter"></i></a>
    <a class="social-links" href="https://www.linkedin.com/in/eherrera09/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="social-links" href="https://www.instagram.com/codingmypath"><i class="fa-brands fa-instagram"></i></a>
    <a class="social-links" href="https://www.github.com/codingmypath"><i class="fa-brands fa-github"></i></a>
    <p id="copyright-footer">Copyright &copy; Edgar Herrera - 2022</p>
</footer>

    
    <script src="js/coping.js"></script>
</body>
</html>