<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Animo - Home</title>
</head>
<body class="calendar-body">

    <!-- for the client side javascript -->
    <script> 
        let arr = <%- JSON.stringify(events); %>
    </script>
                  
    <header>
        <a class="header-links" href="/events"><img class="animo" src="images/newbutterfly16.png"></a>
        <nav>
            <ul class="nav-ul">
                <li class="header-li"><a class="header-links" href="/events">Home</a></li>
                <li class="header-li"><a class="header-links" href="/resources">Resources</a></li>
                <li class="header-li"><a class="header-links" href="/coping">Coping Mechanisms</a></li>
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">Feed</a></li> -->
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">About Us</a></li> -->
                <li class="header-li"><a class="header-links" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <section class="container">

        <section class="quote">
            <h1>Quote of the Day</h1>
            <p class="quotes"></p>
            <h4 class="author"></h4>
        </section>

        <section class="months">
            <a id="back-month" class="fa-solid fa-angle-left"></a>
            <div class="month"></div>
            <a id="forward-month" class="fa-solid fa-angle-right"></a>
        </section>

        <ul class="weekdays">
            <li>Sunday</li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
        </ul>

        
        <section class="calendar"></section>

        <section class="test">
            <%# events.forEach(el => {  %>
                <!-- <li class="date"><%# el.mood %> <%# el.date %></li> -->
                <%#  }) %>
        </section>
         
        <!-- <a href="/logout">Logout</a> -->
    </section>
    
    <form id="newEventModal" action="/events/createEvent" method='POST'>
        <h2>Journal Entry</h2>
        <h3>Date</h3>
        <input id="date" class="block" type="date" value="" name="date" min="2022-01-01" max="" required>
        <div class="title-form">
            <label class="title-label" for="title">Title</label>
            <input type="text" name="title" id="eventTitleInput" placeholder="Title" required>
        </div>
        <h3>How was your day?</h3>
        <input id="mood" type="radio" name="mood" value="good" required> <i class="fa-face-smile"></i> Good <i class="fa-solid fa-face-smile"></i>
        <input id="mood" type="radio" name="mood" value="meh"> Meh
        <input id="mood" type="radio" name="mood" value="bad"> Bad
        <h3>What happened today?</h3>
        <textarea id="description" placeholder="Today.." name="description" rows="5" cols="35" required="required"></textarea><br>
        <button class="journal-button" type="submit" id="saveButton">Submit</button>
        <button class="journal-button" id="deleteButton" class="del">Delete</button>
        <button type="button" id="cancelButton" class="del journal-button" value="Cancel">Cancel</button>
    </form>
    <div id="deleteEventModal">
        <h2>Event</h2>
        <p id="eventText"></p>
        <button id="deleteButton" class="del">Delete</button>
        <button type="button" id="closeButton">Close</button>
    </div> 
    <div id="modalBackDrop"></div>

    <!-- <footer>
        <a class="footer-links" href="calendar.html">Home</a>
        <a class="footer-links" href="/events"><img class="animo" src="../images/animo-butterfly1.png"></a>
    </footer> -->

    <footer class="footer">
        <!-- <a class="footer-links" href="calendar.html">Home</a> -->
        <!-- <a class="footer-links" href="/events"><img class="animo" src="images/animo-butterfly1.png"></a> -->
        <h2 id="title-footer">Contact</h2>
        <a class="social-links" href="https://www.twitter.com/codingmypath"><i class="fa-brands fa-twitter"></i></a>
        <a class="social-links" href="https://www.instagram.com/codingmypath"><i class="fa-brands fa-instagram"></i></a>
        <a class="social-links" href="https://www.linkedin.com/in/eherrera09/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-links" href="https://www.github.com/codingmypath"><i class="fa-brands fa-github"></i></a>
        <p id="copyright-footer">Copyright &copy; Edgar Herrera - 2022</p>
    </footer>



    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/quotes_api.js"></script>

</body>
</html>

