<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Animo - Home</title>
</head>
<body class="calendar-body">

    <%# USED TO KEEP TRACK OF MONTH DISPLAY %> 
    <% let nav = 0; %>
    <% let clicked = null; %>

    <% const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>


        <%# TODAY'S DATE %> 
        <% const today = new Date(); %>

        <%# IF MONTH IS NOT THE CURRENT MONTH, IT UPDATES IT TO THE MONTH IT MOVED TO  %> 
        <% if (nav !== 0) { %>
            today.setMonth(new Date().getMonth() + nav);
        <% } %>

        <% const month = today.getMonth() %>
        <% const day = today.getDate() %>
        <% const year = today.getFullYear() %>

        <% const firstOfMonth = new Date(year, month, 1); %>
        <% const fullDaysInMonth = new Date(year, month + 1, 0).getDate(); %>

        <% const dateString = firstOfMonth.toLocaleDateString('en-us', {
            weekday: 'long', 
            year: 'numeric', 
            month: 'numeric', 
            day: 'numeric', 
        }); 
        %>

        <% const paddingDays = weekdays.indexOf(dateString.split(',')[0]); %>
         



    <% let dayStringTest = [] %>
    
    <% for (let i = 1; i <= paddingDays + fullDaysInMonth; i++) { %>
        <%# const daySquare = document.createElement('div'); %>
        <%# daySquare.classList.add('day'); %>

        <% const dayString = `${month + 1}/${i - paddingDays}/${year}`; %>

        <%# ADD ZERO IN FRONT OF A SINGLE NUMBER DATE TO BE THE SAME AS DATABASE DATE %>
        <% if (i - paddingDays < 10) { %>
            <%  dayWithZero = ('0' + (i - paddingDays)).slice(-2) %>
        <% } else { %>
            <%  dayWithZero = i - paddingDays; %>
        <% } %>
    
        <% dayStringTest.push(`${year}-${month + 1}-${dayWithZero}`); %>

        <%# if ( i > paddingDays) { %>
            <%# daySquare.innerText = i - paddingDays; %>
            <%# const eventForDay = events.find(e => e.date === dayString); %>

            <%# if (i - paddingDays === day && nav === 0) { %>
                <%# daySquare.id = 'currentDay'; %>
            <%# } %>

        <%# if (eventForDay) { %>
                <%# const eventDiv = document.createElement('div'); %>
                <%# eventDiv.classList.add('event'); %>
                <%# eventDiv.innerText = eventForDay.title; %>
                <%# daySquare.appendChild(eventDiv); %>
        <% } %>

                <%# daySquare.addEventListener('click', () => openModal(dayString)) %>
            <%# } else { %>
                        <%# daySquare.classList.add('padding'); %>
                        <%# } %>

                        <%# calendar.appendChild(daySquare) %>
                    <%# } %>

        <%# let formatDate = `${year}-${month + 1}-${day}` %>
        <%# console.log(formatDate); %>
            
            
        <header>
            <a class="header-links" href="/events"><img class="animo" src="images/animo-logo13.png"></a>
            <nav>
                <ul class="nav-ul">
                    <li class="header-li"><a class="header-links" href="/events">Home</a></li>
                    <li class="header-li"><a class="header-links" href="/resources">Resources</a></li>
                    <!-- <li class="header-li"><a class="header-links" href="calendar.html">Feed</a></li> -->
                    <!-- <li class="header-li"><a class="header-links" href="calendar.html">About Us</a></li> -->
                    <li class="header-li"><a class="header-links" href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

    <section class="container">

        <section class="quote">
            <h1>Quote of the Day</h1>
            <p class="quotes"></p>
            <h4 class="author"></h4>
        </section>

        <section class="months">
            <a id="back-month" class="fa-solid fa-angle-left"></a>
            <div class="month"></div>
            <a id="forward-month" class="fa-solid fa-angle-right"></a>
        </section>

        <ul class="weekdays">
            <li>Sunday</li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
        </ul>
        
        <% events.forEach(el  => { %>
        <section class="calendar"></section>
        <div class="calendar"><div class="el.mood"></div><%= el.date %></div>
        <% }) %>
        <!-- <a href="/logout">Logout</a> -->
    </section>
    
    <form id="newEventModal" action="/events/createEvent" method='POST'>
        <h2>Journal Entry</h2>
        <input id="date" class="block" type="date" value="" name="date" min="2022-01-01" max="" required>
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="eventTitleInput" placeholder="Title info" required>
        </div>
        <h3>How was your day?</h3>
        <input id="mood" type="radio" name="mood" value="good" required> Good
        <input id="mood" type="radio" name="mood" value="meh"> Meh
        <input id="mood" type="radio" name="mood" value="bad"> Bad
        <h3>What happened today?</h3>
        <textarea id="description" placeholder="Today.." name="description" rows="0" cols="0" required="required"></textarea><br>
        <button type="submit" id="saveButton">Submit</button>
        <button id="deleteButton" class="del">Delete</button>
        <input type="button" id="cancelButton" class="del" value="Cancel">
    </form>
    <div id="deleteEventModal">
        <h2>Event</h2>
        <p id="eventText"></p>
        <button id="deleteButton" class="del">Delete</button>
        <button type="button" id="closeButton">Close</button>
    </div> 
    <div id="modalBackDrop"></div>

    <!-- <footer>
        <a class="footer-links" href="calendar.html">Home</a>
        <a class="footer-links" href="/events"><img class="animo" src="../images/animo-butterfly1.png"></a>
    </footer> -->

    <footer class="footer">
        <!-- <a class="footer-links" href="calendar.html">Home</a> -->
        <!-- <a class="footer-links" href="/events"><img class="animo" src="images/animo-butterfly1.png"></a> -->
        <h2>Socials</h2>
        <a class="social-links" href="https://www.twitter.com/codingmypath"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="social-links" href="https://www.instagram.com/codingmypath"><i class="fa-brands fa-square-instagram"></i></a>
        <a class="social-links" href="https://www.linkedin.com/in/eherrera09/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-links" href="https://www.github.com/codingmypath"><i class="fa-brands fa-square-github"></i></a>
        <p>Copyright &copy; Edgar Herrera - 2022</p>
    </footer>



    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/quotes_api.js"></script>

</body>
</html>

