<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <title>Animo</title>
</head>
<body>
    <section class="login-page">
        <section class="inside-info">
        <img class="logo" src="../images/animo-logo8.png" alt="logo">
        <!-- <h1>Animo</h1> -->
        <!-- <form class="login-input">
            <input class="input login" type="email" name="email" placeholder="Email">
            <input class="input login" type="password" name="password" placeholder="Password">
            <input class="submit-button" type="submit" value="Login">
        </form> -->
        <section class="signup-button">
            <a class="link-signup" href="/signup"> Sign Up</a>
            <p class="p-login">Already a member?<a class="link" href="/login">Login</a></p>
        </section>
        </section>
    </section>
</body>
</html>