<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Resources</title>
</head>
<body>
    <section class="quote">
        <p>It's okay to ask for help</p>
        <h1>Mental Health Resources</h1>
        <section>
            <h3>24/7 Crises </h3>
            <p>Call or text 988 or chat 988lifeline.org</p>
            <p>Veterans press 1 when calling</p>
            <h3>National Suicide Prevention Lifeline</h3>
            <p>1-800-273-TALK (8255)</p>
            <p>Veterans: Press 1</p>
            <h3>Crisis Text Line</h3>
            <p>Text TALK to 741741</p>
            <h3>RAINN</h3>
            <p>National Sexual Assult Hotline</p>
            <p>Lifeline: 1-800-656-4673</p>
            <p>Chat: Via hotline.rainn.org</p>
            <h3>National Alliance for Eating Disorders</h3>
            <p>Helpline: 1-866-662-123</p>
            <h3>National Eating Disorders Association</h3>
            <p>Helpline: 1-866-1235</p>
            <p>Chat: Via myneda.org</p>
        </section>
    </section>

    <footer>
        <!-- <a class="footer-links" href="calendar.html">Home</a> -->
        <a class="footer-links" href="calendar.html"><img class="animo" src="animo-butterfly1.png"></a>
    </footer>
</body>
</html>