<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Resources</title>
</head>
<body class="calendar-body">
    <header>
        <a class="header-links" href="/events"><img class="animo" src="images/animo-logo13.png"></a>
        <nav>
            <ul class="nav-ul">
                <li class="header-li"><a class="header-links" href="/events">Home</a></li>
                <li class="header-li"><a class="header-links" href="/resources">Resources</a></li>
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">Feed</a></li> -->
                <!-- <li class="header-li"><a class="header-links" href="calendar.html">About Us</a></li> -->
                <li class="header-li"><a class="header-links" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <section class="resources container">
        <p>It's okay to ask for help</p>
        <h1>Mental Health Resources</h1>
        <section>
            <h3 class="resource-title">24/7 Crises </h3>
            <p>Call or text 988 or chat 988lifeline.org</p>
            <p>Veterans press 1 when calling</p>
            <h3 class="resource-title">National Suicide Prevention Lifeline</h3>
            <p>1-800-273-TALK (8255)</p>
            <p>Veterans: Press 1</p>
            <h3 class="resource-title">Crisis Text Line</h3>
            <p>Text TALK to 741741</p>
            <h3 class="resource-title">RAINN</h3>
            <h3 class="resource-title">National Sexual Assult Hotline</h3>
            <p>Lifeline: 1-800-656-4673</p>
            <p>Chat: Via hotline.rainn.org</p>
            <h3 class="resource-title">National Alliance for Eating Disorders</h3>
            <p>Helpline: 1-866-662-123</p>
            <h3 class="resource-title">National Eating Disorders Association</h3>
            <p>Helpline: 1-866-1235</p>
            <p>Chat: Via myneda.org</p>
        </section>
    </section>

    <footer class="footer">
        <!-- <a class="footer-links" href="calendar.html">Home</a> -->
        <!-- <a class="footer-links" href="/events"><img class="animo" src="images/animo-butterfly1.png"></a> -->
        <h2>Socials</h2>
        <a class="social-links" href="https://www.twitter.com/codingmypath"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="social-links" href="https://www.linkedin.com/in/eherrera09/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-links" href="https://www.instagram.com/codingmypath"><i class="fa-brands fa-square-instagram"></i></a>
        <a class="social-links" href="https://www.github.com/codingmypath"><i class="fa-brands fa-square-github"></i></a>
        <p>Copyright &copy; Edgar Herrera - 2022</p>
    </footer>
</body>
</html>