<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,300&family=Mukta:wght@200;300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="images/newbutterfly20.png">
    <title>Sign Up</title>
</head>
<body>
    <section class="login-page">
        <section class="inside">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h2>Sign Up</h2>
    <form class="login-input" action="/signup" method="POST">
        <input class="input" type="text" name="userName" placeholder="User Name">
        <input class="input" type="email" name="email" placeholder="Email">
        <input class="input" type="password" name="password" placeholder="Password">
        <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class="submit-button" type="submit" value="Submit">
    </form>
    <section class="signup">
        <a class="link" href="/login">Log In</a>
    </section>
        </section>
    </section>
</body>
</html>